body {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

h1,
h2,
h3 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.navbar {
	position: absolute;
	width: 100%;
	max-width: 1200px;
	max-height: 75px;
	margin-top: 30px;
	background: #ffffffaa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #00000011;
	backdrop-filter: blur(10px);
	border-radius: 50px;
	transform: translateY(10px);
}

.logo {
	margin-left: 80px;
	font-size: 1.25rem;
	text-decoration: none;
	color: #be7b0f;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

nav ul {
	display: flex;
	align-items: center;
	padding: 1rem;
	list-style: none;
	margin: 0;
}

nav ul li {
	margin-right: 1rem;
}

nav ul li a {
	color: #915d0a;
	font-size: 1rem;
	text-decoration: none;
}

nav ul li a:hover {
	color: #be7b0f;
	text-decoration: underline;
}

/* Hero */

#hero {
	height: 50vh;
	width: 100%;
	background-image: url("images/hero.jpg");
	padding-top: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-content {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 2rem;
	z-index: 8;
}

.hero-content h1 {
	font-size: 4rem;
	color: #ffffff;
	margin: 0;
	margin-top: 10px;
}

.hero-content p {
	font-size: 1.5rem;
	font-weight: 400;
	color: #ffffff;
	margin: 0;
	margin-top: 10px;
}

.hero-content button {
	border: none;
	border-radius: 50px;
	padding: 1rem 2rem;
	background: #ffffff;
	color: #be7b0f;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 1.5rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.hero-content button:hover {
	color: #ffffff;
	background: #be7b0f;
}

/* Marketing Materials */

#marketing-materials {
	background: #f6f6f6;
	padding: 4rem 0;
	align-items: center;
}

.card {
	width: 100%;
	max-width: 1200px;
	height: 300px;
	display: flex;
	margin: 4rem auto;
	background-color: #ffffff;
	border: 1px solid #00000011;
	border-radius: 15px;
	box-shadow: 0 0 10px 0 #00000011;
}

.card img {
	width: 400px;
	height: 100%;
	object-fit: cover;
}

.card-text {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*Questions */
#questions {
	padding: 4rem;
}

#questions h2 {
	margin: 0rem auto 2rem auto;
	max-width: 800px;
	text-align: center;
}

/* #accordion {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
} */

.accordion-question {
	background-color: #ffffff;
	color: #915d0a;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border: none;
	text-align: left;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.accordion-question:hover {
	background-color: #f6f6f6;
	color: #be7b0f;
}

.accordion-question.active {
	color: #be7b0f;
	font-weight: bold;
}

.accordion-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.25s ease;
	background-color: #ffffff;
	font-weight: 300;
	margin: 10px;
}

.accordion-answer.active {
	max-height: 100px;
}

blockquote {
	max-width: 600px;
	margin: 0 auto;
}

#contact {
	background: #ffffff;
	padding: 4rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

#contact form {
	flex-grow: 1;
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	padding: 2rem;
	border-radius: 15px;
	background-color: #f6f6f6;
}

#contact form h2 {
	margin: 0;
	margin-bottom: 2rem;
}

.input-row {
	display: flex;
	margin-bottom: 1rem;
	width: 100%;
}

.input-group {
	flex-grow: 1;
	margin-right: 1rem;
	display: flex;
	flex-direction: column;
}

.input-group label {
	margin-bottom: 0.5rem;
}

.input-group input {
	padding: 0.5rem;
	border: 1px solid #00000011;
	border-radius: 5px;
	font-size: 1rem;
}

.input-group input:focus {
	outline: none;
	border-color: #be7b0f;
}

.input-group select {
	padding: 0.5rem;
	border: 1 px solid #00000011;
	border-radius: 5px;
	font-size: 1 rem;
}

.input-group select:focus {
	outline: none;
	border-color: #be7b0f;
}

.input-group textarea {
	padding: 0.5rem;
	border: 1px solid #00000011;
	border-radius: 5px;
	height: 100px;
	font-size: 1rem;
	resize: none;
}

.input-group textarea:focus {
	outline: none;
	border-color: #be7b0f;
}

form button {
	border: none;
	border-radius: 50px;
	padding: 0.5rem 2rem;
	background: #ffffff;
	color: #be7b0f;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 1.5rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

form button:hover {
	color: #ffffff;
	background: #be7b0f;
}

footer {
	background: #f6f6f6;
	padding: 2rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
